@model WebApplication1.Models.CinemaListings
@{ ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<form class="form-horizontal">
    <fieldset>
        <h2>Añadir algo(no se como ponerle)</h2>

        @using (Html.BeginForm("Save", "CinemaListings"))
        {
    @Html.ValidationSummary(true, "Please fix the following errors.")
                    <div class="form-group">
                        @Html.LabelFor(m => m.current_movie.Name_P)
                        @Html.TextBoxFor(m => m.current_movie.Name_P, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.current_movie.Name_P)
                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.DataHour_P)
                                        @Html.TextBoxFor(m => m.DataHour_P, new { @class = "form-control" })
                                        @*Html.DropDownListFor(m => m.DataHour_P, new SelectList(Model.MembershipTypes, "Id", "Name"), "", new { @class = "form-control" })*@
                                        @Html.ValidationMessageFor(m => m.DataHour_P)
                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.Ticket_Price)
                                                        @Html.TextBoxFor(m => m.Ticket_Price, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(m => m.Ticket_Price)
                                                    </div>
                                                                    <div class="form-group">

                                                                        @Html.LabelFor(m => m.Pay_Points)
                                                                        @Html.TextBoxFor(m => m.Pay_Points, new { @class = "form-control" })
                                                                        @Html.ValidationMessageFor(m => m.Pay_Points)
                                                                    </div>
                                                                                    @Html.HiddenFor(m => m.ID_Cinema)
                                                                                                    @Html.AntiForgeryToken()
                                                                                                                    <button type="submit" class="btn btn-primary">Guardar</button>}
    </fieldset>
</form>
